<div class="post-wrap archive">
  <% var last_year = ''; %> <% page.posts.each(function (post) { %> <% var
  cur_year = post.date.year(); %> <% if(last_year !== cur_year){ %>
  <h2 class="archive-title"><%- cur_year %></h2>
  <% last_year = cur_year; } %>

  <article class="archive-item">
    <span class="archive-item-date">
      <%- date(post.date, theme.date_format) %></span
    >
    <a class="archive-item-link" href="<%- url_for(post.path) %>">
      <%= post.title %>
    </a>
  </article>
  <% }) %> <%- partial('_partial/paginator') %>
</div>
